<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
   <!--<configSections>
     <section name="dataConfiguration" type="Neodynamic.SDK.ImageDraw, Version=2.0.2000.0, Culture=neutral, PublicKeyToken=49EA6B0547247DC5" />
   </configSections>-->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="65000" />
    </connectionManagement>
    <defaultProxy enabled="false">
      <proxy/>
      <bypasslist/>
      <module/>
    </defaultProxy>

  </system.net>

</configuration>
